<div  *ngFor="let user of logdata">

    
    <div class="column1">
        

            <div  class="col-sm-2">
        
            <select class="selectpicker" data-size="5" title="Employee Name" [(ngModel)]="user.emp_name" class="form-control selectpicker"  data-live-search="true" >
                <option  data-hidden="true"></option>
              <option *ngFor="let name of emp_name" [value]="name.emp_name">
                {{name.emp_name}}
              </option>
            </select>
        </div>
          
            <div  class="col-sm-2">
            <select [(ngModel)]="user.p_type" class="selectpicker" data-size="5" title="Type" class="form-control selectpicker"  data-live-search="true" >
                <option  data-hidden="true"></option>
                <option value="devops">Devops</option>
              <option value="Developer">Developer</option>
            </select>
       
            </div>
       
            <div  class="col-sm-2">
            <select [(ngModel)]="user.week_no" class="selectpicker" data-size="5" title="Week" class="form-control selectpicker"  data-live-search="true">
                <option  data-hidden="true"></option>
              <option *ngFor="let weeks of week_no" [value]="weeks">
              
                Week - {{weeks}}
            </option>
            </select>
            </div>
         

    </div>

    
    <table  class="table table-striped table-hover table-bordered table-responsive">
       
        <thead>
          <tr>
          
            <th scope="col">Date</th>
            <th scope="col">Project Name</th>
            <th scope="col">Task Name</th>
            <th scope="col">Hours</th>
          </tr>
        </thead>
        <tbody>
          <tr >
            <td class="tsid">
                <input type="text" [(ngModel)]="user.ts_id" class="form-control" />
            </td>
            <td>
                <input type="date" placeholder="yyyy-mm-dd" [min]="minDate | date:'yyyy-MM-dd'" [max]="maxDate | date:'yyyy-MM-dd'" >
            </td>
            <td>
             
                    <select [(ngModel)]="user.project_name" class="selectpicker" data-size="5" title="Project Name" class="form-control selectpicker"  data-live-search="true">
                        <option  data-hidden="true"></option>
                        <option *ngFor="let project of projname" [value]="project.project_name">{{project.project_name}}</option>
                      </select>            
             </td>
            <td>
                <input type="text" [(ngModel)]="user.task_name" class="form-control" />
           </td>

            <td>
                <input type="text" [(ngModel)]="user.hours" class="form-control" />
            </td>
            <td><button type="button" class="btn btn-primary" (click)="addUser(user)"><mat-icon>save</mat-icon></button></td>
    
          </tr>
          <!-- <button mat-raised-button (click)="addData()" class="demo-button">
            Add data
          </button> -->
        </tbody>
      </table>

      <!-- <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
  
        <ng-container matColumnDef="ts_id" class="tsid">
          <th mat-header-cell *matHeaderCellDef>Id</th>
          <td mat-cell *matCellDef="let element" >
            <input type="text" [(ngModel)]="user.ts_id" class="form-control" />
          </td>
        </ng-container>
      
   
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef>Date</th>
          <td mat-cell *matCellDef="let element">
            <input type="date" placeholder="yyyy-mm-dd" [min]="minDate | date:'yyyy-MM-dd'" [max]="maxDate | date:'yyyy-MM-dd'" >
          </td>
        </ng-container>
      

        <ng-container matColumnDef="project_name">
          <th mat-header-cell *matHeaderCellDef>Project Name</th>
          <td mat-cell *matCellDef="let element">
            <select [(ngModel)]="user.project_name" class="selectpicker" data-size="5" title="Project Name" class="form-control selectpicker"  data-live-search="true">
                <option  data-hidden="true"></option>
                <option *ngFor="let project of projname" [value]="project.project_name">{{project.project_name}}</option>
              </select>   
          </td>
        </ng-container>
      
 
        <ng-container matColumnDef="task_name">
          <th mat-header-cell *matHeaderCellDef>Task Name</th>
          <td mat-cell *matCellDef="let element">
            <input type="text" [(ngModel)]="user.task_name" class="form-control" />
          </td>
        </ng-container>
        <ng-container matColumnDef="hours">
            <th mat-header-cell *matHeaderCellDef>Hours</th>
            <td mat-cell *matCellDef="let element">
                <input type="text" [(ngModel)]="user.hours" class="form-control" />
            </td>
          </ng-container>
          <ng-container matColumnDef="save">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
                <button type="button" class="btn btn-primary" (click)="addUser(user)"><mat-icon>save</mat-icon></button>
            </td>
          </ng-container>

      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        
      </table>

      
      <button mat-raised-button (click)="addData()" class="demo-button">
        Add data
      </button> -->
    </div>